@import "../../styles/responsive.scss";
.topBox {
  h1 {
    margin-bottom: 20px;
  }
  .list {
    .listItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .username {
            font-size: 14px;
            font-weight: 500;
            @include sm {
              font-size: 12px;
            }
          }
          .email {
            font-size: 12px;
            @include sm {
              font-size: 10px;
            }
          }
        }
      }
      .amount {
        font-weight: 500;
      }
    }
  }
}
