@import "../../styles//responsive.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    .icon {
      @include sm {
        display: none;
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
